body{
    background-color: rgb(204, 181, 152);
}

/* power button screen */

#powerBNT{
    background-color: rgb(204, 181, 152);
    border-color: rgb(204, 181, 152);
    height: max-content;
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border:.5vh solid rgb(204, 181, 152);
    
}
#powerbnt{
    background-color: #214b1d;
    border-radius: 50%;
    height: 35vw;
    width: 35vw;
    border:.1vh solid #214b1d;
    box-shadow: 2vh 1vh 1vh #7a7462, 1vh 1vh 1vh #7a7462;
}

#PowerBntICON{
    color: rgb(44, 44, 44);
    font-size: 25vw;
    text-align: center;
    border-color: black;
    text-shadow:0vh 0vh 1vh rgb(34, 34, 34),0vh 0vh 1vh rgb(34, 34, 34);
}
    


#Doorslogo{
    width: 12vw;
  height: 23vh;
  bottom: 0;
  left: 0;
  position: absolute;
  border: 1vh solid rgb(49,143,207);
}
#intellogo{
    width: 12vw;
  height: 23vh;
  bottom: 0;
  right: 0;
  position: absolute;
  
}




/* bios*/
#bios{
    color: rgb(0, 0, 0);
    font-size: 3vh;
}

#bios p{
    margin-top: .01vh;
    margin-bottom: .01vh;
}


#GatewayBiosPic{
    height: 24vh;
    width: 25vw;
    margin-top: .01vh;
}
#biosF2{
    margin-top: 10vh;
}




/* bios OPTS*/
#biosOPTS{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    
}
#bioUtil{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 3vh;
}
#bioAdvanced{
    background-color: blue;
    color: whitesmoke;
    display: flex;
    
}
#advance{
    background-color: whitesmoke;
    border-radius: 10%;
    color: blue;
    margin-left: 15%;
    font-size: 3vh;
}

#biosOPTAdvacnedBody{
    margin-top: 1vh;
    width:100%;
    border: .1vw solid blue;
    color: blue;
    display: flex;
    height: max-content;
    
}
#BioRightSide{
    background-color: whitesmoke;
    text-align: left;
    display: inline-block;
    width: 30%;
    height: max-content;
    margin-left: 1%;
    font-size: 110%;
    font-size: 140%;
    border-right: .4vw solid blue;
    border-left: .4vw solid blue;
}
#BioLeftSide{
    background-color: whitesmoke;
    display: inline-block;
    width: 70%;
    height: max-content;
    
    text-align: left;
    font-size: 140%;
}

#biosKeys{
    display: flex;
    font-size: 100%;
}